body {

    margin: 0;
    padding: 10px 0px;

    /* Frost CSS Linear Gradient Background */
        background: #000428;
        background: linear-gradient(to left,
                #000428, #004e92)

}

/* Estilo general del header */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px); /* Más desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
}

/* Logo a la izquierda */
.logo img {
    background-color: transparent;
    height: 25px;
    padding: 0px 40px;
    display: block;
}

/* Menú central */
.menu-centro {
    flex: 1;
    display: flex;
    justify-content: left;
    gap: 30px;
}

.menu-centro a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.5s;
}

.menu-centro a:hover {
    color: #0077cc;
}

/* Botones a la derecha */
.acciones button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color .5s;
    font-size: 1rem;
}

.acciones button:hover {
    background-color: #005fa3;
}

.container {
    display: flex;
    justify-content: space-evenly; /* separa uniformemente los elementos */
    align-items: center;           /* centra verticalmente dentro del contenedor */
    margin: 20px 0;                /* espacio arriba y abajo */
    gap: 20px;                     /* espacio entre la caja y la imagen */
}

.caja-texto {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 10px;   /* bordes redondeados */
    max-width: 900px;      /* opcional, limita ancho */
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,10); /* opcional para darle profundidad */
}

.caja-imagen img {
    width: 250px;         /* ajusta a tu gusto */
    height: auto;         /* mantiene proporción */
    border-radius: 15px;  /* bordes redondeados visibles */
    object-fit: cover;    /* ajusta la imagen dentro del tamaño */
    box-shadow: 0 2px 5px rgba(0,0,0,10); /* opcional para darle profundidad */
}
